<form #c="ngForm" (ngSubmit)="guardar(c.value, c.valid)" *ngIf="competidor">
  <mat-card>
    <mat-card-title>
      competidor {{competidor.id}}
    </mat-card-title>
    <mat-grid-list cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 required
                 name="codigo"
                 placeholder="Codigo"
                 [(ngModel)]="competidor.codigo">
          <mat-error>Debe ingresar un Codigo</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 required
                 name="nombre"
                 placeholder="Nombre"
                 [(ngModel)]="competidor.nombre">
          <mat-error>Debe ingresar un Nombre</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70">
      <mat-grid-tile [colspan]=2>
        <mat-form-field class="all-width">
          <input matInput
                 required
                 name="calle"
                 placeholder="Calle"
                 [(ngModel)]="competidor.calle">
          <mat-error>Debe ingresar una Calle</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 required
                 type="number"
                 name="latitud"
                 placeholder="Latitud"
                 [(ngModel)]="competidor.latitud">
          <mat-error>Debe ingresar la Latitud</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput
                 required
                 type="number"
                 name="longitud"
                 placeholder="Longitud"
                 [(ngModel)]="competidor.longitud">
          <mat-error>Debe ingresar la Longitud</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="70">
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Marcas" required
                      [(ngModel)]="competidor.marcaId"
                      name="marcaId">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let marca of marcas"
                        [value]="marca.id">
              {{ marca.codigo }} {{ marca.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="selectFormMarcas.hasError('required')">Debe seleccionar una Marca</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Zonas de Precios" required
                      [(ngModel)]="competidor.zonaPrecioId"
                      name="zonaPrecioId">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let zona of zonaPrecios"
                        [value]="zona.id">
              {{ zona.codigo }} {{ zona.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="selectFormMarcas.hasError('required')">Debe seleccionar una Zona de Precio</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="50">
      <mat-grid-tile>
        <mat-checkbox [(ngModel)]="competidor.marcador" name="marcador">Marcador</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox [(ngModel)]="competidor.observar" name="observar">Observar</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="70">
      <mat-grid-tile>
        <div >
          <button mat-button
                  color="accent"
                  type="button"
                  (click)="cancelarEdicion()">
            Cancelar
          </button>
          <button type="submit" mat-button color="primary" [disabled]="c.invalid">
            Aceptar
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  </form>
