.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.nav-item nav-link {
  justify-content: flex-end;
}

.sidenav .mat-toolbar {
  background: inherit;
}

#salir {
  color: red;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.activo {
  color: #4040B0;
  font-weight: 700;
}
